html,
body {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(300px, 4fr);
  grid-template-areas:
    "sb c"
    "sb c";
}

a {
  font-family: "Space Mono", monospace;
  font-size: 20px;
}

.sidebar {
  grid-area: sb;
  background: rgb(138, 66, 61);
  grid-column: 1/2;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-content: space-around;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.301) inset;
  min-height: 100vh;
}

.sidebar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.671);
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.content {
  background: rgb(199, 192, 182);
  grid-area: c;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
  align-content: center;
  */
}

.content > * {
  text-align: center;
  padding: 20px;
}

.content p {
  text-align: center;
  padding: 50px;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-areas:
      "sb sb"
      "c c";
  }

  .content {
    height: 95vh;
  }

  .sidebar {
    height: 100px;
    grid-column: 1/-1;
    grid-auto-flow: column;
    justify-content: space-around;
    align-content: center;
  }

  .sidebar a {
    font-size: 16px;
    justify-content: center;
  }
}

/* Animations */

a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(0, 0, 0);
  height: 1px;
  transition: 0.1s;
}

.sidebar a:hover {
  color: black;
  transform: scale(1.1);
  animation: fill 1s forwards;
  transition: 0.2s;
}

a:hover:after {
  width: 100%;
}

/* Projects page*/

.project-item {
  justify-self: center;
}
